<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Hello, Rails!</h1>
    <p class="lead blog-description">A Blog about learning how to use use Ruby on Rails.</p>
  </div>

  <div class="btn btn-default">
    <%= link_to 'My Blog' , controller: 'articles' %>
  </div>
</div>

